# {{ ansible_managed }}

# Internal DB ("user data repository")
udr={{ skatdpi_udr }}
ctrl_port={{ skatdpi_ctrl_port }}
ctrl_dev={{ skatdpi_ctrl_dev }}

{% if skatdpi_scale_factor is defined %}
# Scale factor is about 1 for every 1 Gigabit of bandwidth
scale_factor={{ skatdpi_scale_factor }}
{% endif %}

{% if skatdpi_num_threads is defined %}
num_threads={{ skatdpi_num_threads }}
{% endif %}

{% if skatdpi_configure_censorship %}
# RKN Censorship
federal_black_list={{ skatdpi_federal_black_list }}
{%   if skatdpi_black_list_redirect_url is not none %}
black_list_redirect={{ skatdpi_black_list_redirect_url }}
{%   else %}
# black_list_redirect=
{%   endif %}
{% endif %}


{% if skatdpi_configure_netflow %}
# Netflow
netflow={{ skatdpi_netflow }}
netflow_dev={{ skatdpi_netflow_dev }}
netflow_full_collector_type={{ skatdpi_netflow_full_collector_type }}
netflow_full_collector={{ skatdpi_netflow_full_collector }}
netflow_rate_limit={{ skatdpi_netflow_rate_limit }}  
{% endif %}


{% if skatdpi_configure_nat_logging %}
# NAT Logging
ipfix_dev={{ skatdpi_ipfix_dev }}
{% if skatdpi_ipfix_nat_udp_collectors | length %}
ipfix_nat_udp_collectors={{ skatdpi_ipfix_nat_udp_collectors | join(",") }}
{% endif %}
{% if skatdpi_ipfix_nat_tcp_collectors | length %}
ipfix_nat_tcp_collectors={{ skatdpi_ipfix_nat_tcp_collectors | join(",") }}
{% endif %}
{% endif %}

{% if skatdpi_configure_clickstream %}
# Clickstream 
ipfix_dev={{ skatdpi_clickstream_ipfix_interface_name }}
ipfix_tcp_collectors={{ skatdpi_clickstream_ipfix_tcp_collectors | join(',') }}
{% endif %}


# Devices
{% if skatdpi_device_aliases %}
# Device aliases 
# dpdk_device=name:bus:dpdk-device-description 
{%- for k, v in skatdpi_device_aliases.items() %}
dpdk_device={{ k ~ ":" ~ v }} 
{% endfor %}
{% endif %}

# Bridge config 
in_dev={{ skatdpi_devices_in | map("replace", ":", "-") | join(':') }}
out_dev={{ skatdpi_devices_out | map("replace", ":", "-") |  join(':') }}


# "L3 BRAS"
enable_auth={{ skatdpi_enable_auth }}
{% if skatdpi_fastpcrf_servers | length %}
# Fastpcrf servers
auth_servers={% for s in skatdpi_fastpcrf_servers -%}
{% if not loop.first %},{% endif %}{{ s.ip }}%{{ s.dev }}:{{ s.port }}
{%- endfor %}
{% endif %}


# IPv6
ipv6={{ skatdpi_enable_ipv6 }}

ctrl_trace={{ skatdpi_ctrl_trace }}

