# {{ ansible_managed }}

daemon={{ skatdpi_fastpcrf_daemon }}
verbose={{ skatdpi_fastpcrf_verbose }}

{% if skatdpi_fastpcrf_auth_server_port is defined %}
auth_server_port={{ skatdpi_fastpcrf_auth_server_port }}
{% endif %}  

#default_reject_policing=

#default_reject_whitelist=default

{% if skatdpi_fastdpi_servers | length %}
# SKATDPI servers
{% for s in skatdpi_fastdpi_servers %}
fdpi_server={{ s.ip }}%{{ s.dev }}:{{ s.port }}{% for v in s.params|default([]) %};{{ v }}={{ s.params[v] }}{% endfor %}

{% endfor %}
{% endif %}

radius_user_name_auth={{ skatdpi_radius_user_name_auth }}

{% if skatdpi_radius_servers | length %}
# RADIUS servers
{% for s in skatdpi_radius_servers %}
radius_server={{ s.secret }}@{{ s.ip }}%{{ s.dev }}:{{ s.port }}
{% endfor %}
{% endif %}

fdpi_pqueue_dir=/var/spool/dpi/pcrf

{% if skatdpi_fastpcrf_logs_trace | length %}
trace={{ skatdpi_fastpcrf_logs_trace }}
{% endif %}

{% for el in skatdpi_fastpcrf_coa_clients | default([]) %}
coa_client={{ el.secret }}@{{ el.address }}%{{ el.dev }}:{{ el.port }}
{% endfor %}
