# {{ ansible_managed }}
{% set options = skatdpi_fastdpi_options.copy() %}
{% if options.ipfix_nat_udp_collectors.value is defined and options.ipfix_nat_udp_collectors.value is sequence and options.ipfix_nat_udp_collectors.value is not string %}
{%   set ipfix_nat_udp_collectors = [] %}
{%   for s in options.ipfix_nat_udp_collectors.value %}
{%     set _ = ipfix_nat_udp_collectors.append( s.ip ~ ":" ~ s.port ) %}
{%   endfor %}
{%  set options = options | combine({ "ipfix_nat_udp_collectors": { "value": ipfix_nat_udp_collectors | join(",") } }, recursive=True) %}
{% endif %}
{% if options.ipfix_nat_tcp_collectors.value is defined and options.ipfix_nat_tcp_collectors.value is sequence and options.ipfix_nat_tcp_collectors.value is not string %}
{%   set ipfix_nat_tcp_collectors = [] %}
{%   for s in options.ipfix_nat_tcp_collectors.value %}
{%     set _ = ipfix_nat_tcp_collectors.append( s.ip ~ ":" ~ s.port ) %}
{%   endfor %}
{%  set options = options | combine({ "ipfix_nat_tcp_collectors": { "value": ipfix_nat_tcp_collectors | join(",") } }, recursive=True) %}
{% endif %}
{% if options.ipfix_tcp_collectors.value is defined and options.ipfix_tcp_collectors.value is sequence and options.ipfix_tcp_collectors.value is not string %}
{%   set ipfix_tcp_collectors = [] %}
{%   for s in options.ipfix_tcp_collectors.value %}
{%     set _ = ipfix_tcp_collectors.append( s.ip ~ ":" ~ s.port ) %}
{%   endfor %}
{%  set options = options | combine({ "ipfix_tcp_collectors": { "value": ipfix_tcp_collectors | join(",") } }, recursive=True) %}
{% endif %}
{% if options.auth_servers.value is defined and options.auth_servers.value is sequence and options.auth_servers.value is not string %}
{%   set auth_servers = [] %}
{%   for s in options.auth_servers.value %}
{%     set _ = auth_servers.append( s.ip ~ "%" ~ s.interface ~ ":" ~ s.port ) %}
{%   endfor %}
{%  set options = options | combine({ "auth_servers": { "value": auth_servers | join(",") } }, recursive=True) %}
{% endif %}
{% if options.in_dev.value is defined and options.in_dev.value is sequence and options.in_dev.value is not string %}
{%  set options = options | combine({ "in_dev": { "value": options.in_dev.value | map("replace", ":", "-") | join(':') } }, recursive=True) %}
{% endif %}
{% if options.out_dev.value is defined and options.out_dev.value is sequence and options.out_dev.value is not string %}
{%  set options = options | combine({ "out_dev": { "value": options.out_dev.value | map("replace", ":", "-") | join(':') } }, recursive=True) %}
{% endif %}

{% for option, v in options.items() %}
{%   if v.value is defined and v.value is not none %}
{%     if skatdpi_fastdpi_conf_comments | default(True) %}
# {{ v.comment | default(skatdpi_fastdpi_options_info[option]['comment']) | default("") }}
{%     endif %}
{{ option }}={{ v.value | default(skatdpi_fastdpi_options_default[option].value) }}

{%   endif %}
{% endfor %}
